

ul,li{
  list-style: none
}
body{

}

/* 轮播自带样式 */
.my-carousel {
  background: #fff;
}
.my-carousel a {
  display: inline-block;
  width: 100%;
  margin: 0; padding: 0;
}
.my-carousel a img {
  width: 100%;
  vertical-align: top;
}
.my-carousel .v-item {
  height: 0.72rem;
  line-height: 0.72rem;
  padding-left: 0.2rem;
}
.sub-title {
  color: #888;
  font-size: .28rem;
  padding: 30px 0 18px 0;
}
/*轮播 修改样式 */
.lunbo .am-wingblank.am-wingblank-lg{
    margin-left: 0;
    margin-right: 0;
}
.lunbo .am-wingblank{
    margin-left: 0;
    margin-right: 0;
}

 .lunbo{
    width: 100%;
   height: 4.2rem;
   z-index: 0;
   overflow: hidden;

} 
.slider{
  width: 100%;
   height: 4.2rem;
}

.slider .slider-list{
    width: 100%;
     height: 4.2rem;
}
.slider-slide{
    width: 100%;
    height: 4.2rem;
}
  .slider-frame{
    width: 100%;
    height: 4.2rem ! important;
  }





.now{
  padding: 0.36rem 0;
  background: #eee;
  z-index: 100 ! important;
}
.now-list{
    display: flex;
    flex-direction: column;
    margin:0 0.32rem 0.32rem 0.32rem;
    background:#fff;
}
.now-lista{
  display: flex;
  flex-direction: column;

}
.now-lista img{
 width: 100%;
 height:3.8rem;
}
.now-b{
    width: 100%;
    height: 1rem;
    display: flex;
    justify-content: space-around
}
.now-bl{
    width: 75%;
    padding-left: 5%;
    font-size: 0.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}
.now-blt{
    color: #aaa;
    /* line-height: 0.4rem; */
    margin: 0;
}
.now-blb{
    color: #ccc;
    /* line-height: 0.4rem; */
    margin: 0;
}
.now-br{
    width:20%;
    color: orangered;
    font-size: 0.35rem;
    line-height: 1rem;
    margin: 0;
    text-align: center;

}
  .list{
    /* padding-bottom: 1rem; */
  }
  .list-p{
    width: 100%;
    height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }
.list-p a{
  display: block;
  width: 3.2rem;
  height: 0.6rem;
  border:1px solid #aaa;
  border-radius: 0.3rem;
  font-size: 0.2rem;
  text-align: center;
  line-height: 0.6rem;
  color: #444;
}

.will{
  width: 100%;
  height: 1rem;
  position: relative;
 
}
.will span{
  font-size: 0.2rem;
  display: block;
  background: #888;
  color: #fff;
  width: 20%;
  height: 0.5rem;
  border-radius: 0.2rem;
  position: absolute;
  left: 40%;
  top: -0.5rem;
  text-align: center;
  line-height: 0.5rem;
}

